*{
    padding: 0;
    margin: 0;
    
     background-color: rgb(0, 0, 0);
     background-color: rgb(142, 193, 193);
}
/* template creation */
.main-box{
    height:100vh;
} 
.nav{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    
      background-color: rgb(142, 193, 193);
      /* background-color: black; */
    display: flex;
    align-content: space-between;
}
.box{
    display: flex;
    width: 100%;
     background-color: rgb(142, 193, 193);
     /* background-color: black; */
}
.sidebar{
    height: calc(90vh - 110px);
    width: 300px;
    background-color: rgb(0, 0, 0);
    top: 110px;
    position: fixed;
    left: 0;
}
.main{
    height: calc(90vh - 110px); 
    width:  calc(100% - 310px);
    background-color: blueviolet;
    position: fixed;
     top: 110px; 
    left: 310px; 
    overflow-y:auto;
}
.footer{
     height:calc(100vh - 94.2vh);
     position: fixed;
     bottom: 0;
     width: 100%;
     padding: 20px;
     /* left: 300px; */
     background-color:rgb(255, 0, 0);
}

/* building navbar */
.nav-one{
    height: 80px;
    width: 50%;
    /* border: 1px solid; */
    margin-top: 10px;
    background-color: black;
}
.nav-two{
    height: 80px;
    width: 50%;
    /* border: 1px solid; */
    margin-top: 10px;
    display: flex;
    background-color: black;
}
#logo{
    height: 70px;
    /* box-shadow: 15px -15px 30px white; */
    padding: 4px 0px 0px 5px;
    /* border-radius: 10rem; */
    /* transform: skewx(-30deg); */
    background-color: black;
 }
 #search{
    position: relative;
    bottom: 30px;
    height: 2rem;
    width: 350px;
    left: 50px;
    border: 1px solid white;
    border-radius: 2rem;

 }
 .list{
    display: flex;
     margin-left: 500px;
    justify-content:space-evenly ;
     /* border: 1px solid; */
      background-color: black;
    
 }
 li{
    /* margin: 30px 0px 30px  120px; */
    
 }
#item{
padding: 10px;
margin-top: 20px;
color: white;
 background-color: black;
}
 /* building main */
.main-row{
    width: 100%;
    height: auto;
    background-color: black;
 }
 .card-container{
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    background-color: black;
 }
 .card{
    margin-left: 10px;
    text-align: center;
    border: 1px dotted;
    font-family:monospace ;
    background-color: black;
    padding: 5px;
 }
 .card img{
    height: 200px;
 }